/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

colorPrimary {
    color: #004188
}
colorSecond {
    color: #0e6ace
}
threeColor {
    color: #00ca72
}
fourColor {
    color: #ffffff
}
